---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date: "%Y/%m/%d" }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		{{ page.content }}

    <div class="author">
      <div class="avatar"><img src="/images/{{ site.authors[page.author].avatar }}"></div>
      <div class="description"><p>{{ site.authors[page.author].description }}</p>
          <p class="social"><a href="https://twitter.com/{{ site.authors[page.author].twitter }}"><i class="fab fa-twitter"></i> Twitter</a><a href="https://twitter.com/{{ site.authors[page.author].github }}"><i class="fab fa-github"></i> GitHub</a><a href="https://instagram.com/{{ site.authors[page.author].instagram }}"><i class="fab fa-instagram"></i> Instagram</a>
          </p></div>
    </div>
  </div>

</section>
